name: lint

on:
  push:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest

    env:
      GOEXPERIMENT: jsonv2

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.9
